.sidebar {
	padding: var(--layout);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: calc(100vh/2 - 8rem);
	border: 1px solid var(--border);

	.menu {
		display: flex;
		flex-direction: column;
		gap: var(--layout);
	}
	.link {
		display: block;
		color: var(--white);
		&.active > svg {
			color: var(--primary);
		}
	}

	svg {
		transition: all 0.3s ease-in-out;
		&:hover {
			color: var(--primary);
			transform: scale(1.1);
		}
	}
}