:root {
  --white: #efeff3;
  --primary: #6F3AFF;
  --background: #0f0104;
  --border: rgba(255, 255, 255, 0.12);
  --layout: 1.25rem;
  --transition-function: ease-in-out;
  --transition-duration: 300ms;
}

body {
  height: 100vh;
  color: var(--white);
  background: linear-gradient(
    to top right,
    #0f0104, #0f0a14), #0f0104;
  font-family: Arial, Helvetica, sans-serif;
}